@import "../../styles/_variables";

$breakpoint-desktop: 768px;
$max-container-width: 1000px;
$container-margin: 16px;

.menu-page {
  max-width: $max-container-width;
  margin: 0 auto;
  padding: 0 $container-margin;

  .menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 16px;
  }
}

.menuItem {
  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  justify-content: space-between;
  min-width: 180px;
  width: 100%;
  max-width: 340px;
  min-height: 330px;
  border: 1px solid #112a13;
  background: #fffefe;

  @media (min-width: $breakpoint-desktop) {
    padding: 1rem;
  }

  .itemContainer {
    position: relative;
    width: 100%;
    img {
      width: 100%;
      height: 150px;
      border-radius: 8px;
      object-fit: cover;
    }
    .infoIcon {
      position: absolute;
      top: 8px;
      right: 8px;
      color: $primary-color;
      cursor: pointer;
    }
  }

  .itemDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    margin: 8px 0;
    .itemName {
      color: #111214;
      @include text-style-600;
      flex-grow: 1;
    }

    .itemInfoContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      p {
        color: $primary-color;
        @include text-style-500-12px;
        text-transform: capitalize;
      }

      span {
        color: #111214;
        @include text-style-500-12px;
      }
    }
  }

  .btnContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    width: 100%;

    .addToCart {
      padding: 8px;
      justify-content: center;
      align-items: center;
      gap: 12px;
      width: 100%;
      border-radius: 8px;
      border: 1px solid #111214;
      background: $cta-color;
      color: $text-white;
      text-align: center;
      @include text-style-600-14px;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: bold;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($cta-color, 10%);
      }
    }
  }
}
