@import "../../styles/variables";

.detailsButton {
    padding: 2px 6px;
    border-radius: 4px;
    border: none;
    border: .5px solid $primary-color;
    color: $primary-color;
    @include text-style-600-14px;
    background-color: transparent;

    &:hover {
        background-color: $primary-color;
        color: $text-white;
    }
}