@import "../../styles/variables";

.confirmation {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-height: 88vh;

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    
    .confirmation-info {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        min-height: 60vh;

        .message {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 2rem;
        }

        .details {
            margin-top: 10px;
            padding: 1rem 0;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            @include text-style-400-14px;
            border-bottom: 1px solid $primary-color;
            border-top: 1px solid $primary-color;

            > p {
                align-self: flex-end;
                color: $cta-color;
            }
        }
        
        
        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            
            p {
                @include text-style-600
            }

        }
    }

    .cancel-order {
        text-align: center;

        p {
            margin-bottom: 1rem;
        }
    }

    > button {
        margin: auto auto 1rem
    }
}

.cancel-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 12px;

    > div {
        background: $background-color;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 500px;
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        padding: 1rem;
        gap: 1rem;
        box-sizing: border-box;
        max-height: 550px;

        align-items: center;
        text-align: center;

        > div {
            align-self: flex-end;
            color: $cta-color;
        }
        > section {

            p {
                margin: 1rem 0;
            }
        }
      
        @media (min-width: 768px) {
          height: 550px;
        }
    }
}