@import "../../styles/_variables";

.orderItem {
    display: grid;
    grid-template-columns: .5fr .5fr 7fr auto;
    gap: 10px;
    align-items: center;
    margin-bottom: 1rem;
    color: $secondary-color;

    * {
        @include text-style-500;
    }

}

.btnContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        background-color: transparent;
        border: none;
        color: $primary-color;
        padding: 2px 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}


.price {
   justify-self: end;
}