@import "../../styles/_variables";

.orderItem {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    color: $secondary-color;

    * {
        @include text-style-500;
    }

    button {
        background-color: transparent;
        border: none;
        padding: 3px;
        color: $primary-color;
        opacity: 0.5;

        :hover {
            opacity: 0.8;
        }
    }

}

.qty {
    display: flex;
    gap: 10px;
    align-items: center;
}

.price {
   justify-self: end;
}