$primary-color: #03a864;
$secondary-color: #112a13;
$text-color: #112a13;
$background-color: #fff5ec;
$text-white: #fff;
$font-family-default: "Poppins", sans-serif;
$border-color: #395e3c;
$cta-color: #efa0d2;
$darker-green: #050e06;
$primary-green-20: rgba(3, 168, 100, 0.2);

$breakpoint-desktop: 768px;
$breakpoint-large: 1024px;

$bg-white: #fff;

$dark-gray: #808d9e;

@mixin text-style-400 {
  font-family: $font-family-default;
  font-size: 1rem;
  font-weight: 400;
}

@mixin text-style-500 {
  font-family: $font-family-default;
  font-size: 1rem;
  font-weight: 500;
}

@mixin text-style-500-12px {
  font-family: $font-family-default;
  font-size: 12px;
  font-weight: 500;
}
@mixin text-style-500-14px {
  font-family: $font-family-default;
  font-size: 14px;
  font-weight: 500;
}

@mixin text-style-500-16px {
  font-family: $font-family-default;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
}

@mixin text-style-400-14px {
  font-family: $font-family-default;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.5px;
}

@mixin text-style-600-14px {
  font-family: $font-family-default;

  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@mixin text-style-600 {
  font-family: $font-family-default;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
}

@mixin text-style-700 {
  font-family: $font-family-default;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

@mixin text-style-paragraph-20-bold {
  font-family: $font-family-default;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin text-style-600-24px {
  font-family: $font-family-default;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@mixin text-style-500-24px {
  font-family: $font-family-default;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@mixin text-style-500-32px {
  font-family: $font-family-default;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 3.2px;
}

@mixin add-to-cart-btn {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  border: 0.5px solid $border-color;
  background: $cta-color;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@mixin text-style-h2-32px {
  font-family: $font-family-default;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 3.2px;
}

@mixin text-style-h3-24px {
  font-family: $font-family-default;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
}

@mixin text-style-400-10px {
  font-family: $font-family-default;
  font-weight: 400;
  font-size: 10px;
}
