@import "../../styles/variables";

.home {
  text-align: center;

  >section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.25rem;
    margin-bottom: 3rem;

    .info {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        margin-bottom: 1rem;
        max-width: 270px;
      }

      p {
        margin-bottom: 2rem;
      }
    }
  }

  img {
    width: 100%;
  }

  .hero {
    min-height: 92vh;

    .heading {
      margin-bottom: 4.25rem;
      margin-top: 1rem;
    }

    button {
      margin: 2rem 0;
    }

    figure {
      height: 80vw;
      width: 80vw;
      max-height: 600px;
      max-width: 600px;
      border: 4px solid $primary-color;
      border-radius: 4px;
      padding: 2rem;

      img {
        height: 100%;
        object-fit: cover;
        border: 4px solid $primary-color;
        border-radius: 4px;
      }
    }
  }

  .content-section-01 {
    img {
      // Expand to total width
      width: calc(100% + 2rem);
      margin-left: -1rem;
    }
  }

  .content-section-02 {
    .image {
      height: 11rem;
      overflow: hidden;
      width: calc(100% - 4rem);

      div {
        width: 100%;
        height: 100%;
        background-image: url("https://images.unsplash.com/photo-1482049016688-2d3e1b311543?q=80&w=1310&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-size: cover;
        background-position: center;
      }
    }
  }
}


@media screen and (min-width: $breakpoint-desktop) {

  // Move to main.scss?
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    header {
      align-self: stretch;
    }
  }

  .content {
    margin: 1rem;
  }

  .home {
    >section {
      flex-direction: row;

      .info {
        text-align: left;
        h2 {
          max-width: 600px;
        }
      }
      
    }

    .hero {
      figure {
        border: none;
        padding: 0;
        width: 50%;
        height: 60vh;

        img {
          border: none;
        }
      }
    }

    .content-section-01 {
      text-align: left;

      figure {
        flex: 1.5;

        img {
          // Reset full width img
          width: 100%;
          margin-left: 0;
        }
      }
      .info {
        flex: 1;
      }
    }
    .content-section-02 {
      flex-direction: row-reverse;
      max-width: 850px;
      margin: auto;

      .image {
        height: 41vh;
        flex: 1;
      }
      .info {
        flex: 1;
      }

    }
  }
}