@import "../../styles/variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  padding: 1rem;
  color: $text-white;

  .header__iconMenu,
  .header__iconCart {
    font-size: 1.5rem;
    position: relative;
    cursor: pointer;
  }

  .header__title {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.6px;
  }

  .itemsInCart {
    position: absolute;
    background-color: $primary-color;
    height: 1.2rem;
    width: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    color: $text-white;
    font-weight: 600;
    font-size: 14px;
    right: 7%;
    top: -9%
  }
}
