@import "../../styles/variables";

.cancellation {
    @include main-content;
    align-items: center;
    text-align: center;

    header {
        @include page-header;
    }

    figure svg {
        width: 60%;
        height: 100%;
        margin-bottom: 3rem;
    }

    img {
        height: 300px;
        width: 300px;
        object-fit: cover;
    }
}