@import "../../styles/_variables";

.orders-card {
  display: flex;
  padding: 12px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $bg-white;
  border-radius: 16px;
  gap: 12px;
  width: 100%;
  .orders-card.pending {
    border: 2px solid $yellow;
  }

  .orders-card.processed {
    border: 1px solid $primary-color;
  }
  header {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;

    strong {
      width: 64px;
      height: 64px;
      border-radius: 8px;
      background-color: $primary-color;
      color: $text-white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5em;
      font-weight: bold;
      padding: 1rem;
    }
    .order-details-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      gap: 12px;
      > div:first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        p,
        time {
          @include text-style-700-16px;
        }
      }

      .orders-body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 8px;
        p {
          @include text-style-400;
          span {
            @include text-style-600;
            display: flex;
            align-items: center;
            gap: 8px;
          }

          .comment-icon {
            margin-right: 0.5em;
          }
        }

        .user {
          color: $darker-green;
          @include text-style-500-14px;
          font-weight: 400;
          line-height: 16px;
        }
      }
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    button {
      width: 100%;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      align-self: stretch;
      border-radius: 6px;
      @include text-style-paragraph-500-20;

      text-align: center;
    }
    .orders-card-button.unlock {
      background-color: $yellow;
      color: $text-white;
    }

    .orders-card-button.lock {
      background-color: $bg-silver;
      color: $text-black-300;
    }
  }
}

.orders-card.pending {
  border: 2px solid $yellow;
}

.orders-card.processed {
  border: 1px solid $primary-color;
}
