@import "../../styles/variables";

.hamburgerNav,
.overlayShadow {
    position: fixed;
    left: 0;
    top: 0;
}

.hamburgerNav {
    width: 60%;
    height: 100vh;
    padding: 10% 0 0 10%;
    background-color: $primary-color;

    li {
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.15rem;
        margin-bottom: 1rem;
    }
}

.overlayShadow {
    background-color:  rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh;
}